<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<%= form_for @game, url: games_path do |f| %>
<%= f.text_field :nickname %><br>
<%= f.text_field :age %><br>
<%= f.file_field :photos, multiple: true %>
<%= f.submit “Create” %>
<% end %>